<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849776439878-mql2o83o98r1vurdde7gl8sler0tvc7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849776439878-mql2o83o98r1vurdde7gl8sler0tvc7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCng6Nw7BSLGKX_yoZ6AT_dMwNTpnFZInA</string>
	<key>GCM_SENDER_ID</key>
	<string>849776439878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarynneal10.Leader</string>
	<key>PROJECT_ID</key>
	<string>leader-8bab1</string>
	<key>STORAGE_BUCKET</key>
	<string>leader-8bab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849776439878:ios:5ad43de973829864</string>
	<key>DATABASE_URL</key>
	<string>https://leader-8bab1.firebaseio.com</string>
</dict>
</plist>